.noteCard {
    background-color: rgb(255, 247, 237);
}

.cardBody {
    overflow: hidden;
    mask-image: linear-gradient(180deg, #000000 60%, transparent);
}

.cardText {
    white-space: pre-line;
    /* white-space: pre-line; used for separate lines */
}
